<launch>

  <machine name="mainrobot" address="mainrobotEth" user="wheelchair" 
    env-loader="/home/wheelchair/catkin_ws/rosenv.sh" default="never" timeout="20"/>
 <!--
  <node pkg="wheelchairtest" type="sonarsim" name="sonarsim"  machine="mainrobot" />
 -->
 
 <include file="$(find costmap)/launch/sonar_map.launch"/>

 <node pkg="dwa" type="run_dwa" name="dwa" machine="mainrobot"  output="screen" >
     <rosparam command="load" file="$(find dwa)/dwa.yaml"/>
     <rosparam command="load" file="$(find costmap)/map.yaml"/>
   </node>
   
</launch>
