<launch>

  <machine name="remote" address="remote" user="ceezeh" 
    env-loader="/home/ceezeh/catkin_ws/devel/env.sh" default="never" />


<include file="$(find map)/launch/sim_map.launch"/>
    
 <node pkg="dwa" type="run_dwa" name="dwa"  output="screen" >
     <rosparam command="load" file="$(find map)/map.yaml"/>
     <rosparam command="load" file="$(find dwa)/dwa.yaml"/>
	 <rosparam command="load" file="$(find dwa)/sim.yaml"/>
   </node>
  
</launch>
